*{  /* Sätter fonten för hela projektet */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
body { /* Ändra textfärg, bakgrundsfärg och text storlek */
    color: rgb(0, 0, 0);
    background-color: rgb(95, 126, 80);
    font-size: 20px;
}
.scooter1 { /* Hela lådan för scooter 1. Border storlek och färg, skuggan, bakgrundsfärgen, rundade hörnen, storlek, vart texten ligger */
    border: 1px solid #000000; 
    box-shadow: inset 0px 0px 15px 7px #000000;
    background-color: rgb(56, 95, 61);
    border-radius: 8px;
    width: 400px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    transition: background-color 0.2s ease;
}
.scooter1-box{ /* Ändrar Hyrknappens färg, border vart texten ligger */
    background-color: rgb(150, 150, 150);
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
button:active { /* Gör så att hyrknappen blir mörkare medans man trycker på den.  */
            background-color: rgb(112, 112, 112);
        }